{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/semesters_holidays

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region
}}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  {{#str}} pricecategoriessubtitle, mod_booking {{/str}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link {{^renderedchangepricecategoriesform}}active{{/renderedchangepricecategoriesform}}" id="price_categories-tab" data-toggle="tab" href="#pricecategoriesform" role="tab" aria-controls="pricecategoriesform" aria-selected="true">
      {{#str}} pricecategories, mod_booking {{/str}}
    </a>

    {{#renderedchangepricecategoriesform}}
    <a class="nav-link active" id="choosepricecategories-tab" data-toggle="tab" href="#choosepricecategories" role="tab" aria-controls="choosepricecategoriesform" aria-selected="false">
      {{#str}} choosepricecategories, mod_booking {{/str}}
    </a>
    {{/renderedchangepricecategoriesform}}
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div data-region="pricecategoriesformcontainer" class="tab-pane fade {{^renderedchangepricecategoriesform}}show active{{/renderedchangepricecategoriesform}}" id="pricecategoriesform" role="tabpanel" aria-labelledby="pricecategories-tab">
    {{{ renderedpricecategoriesform }}}
  </div>

  {{#renderedchangepricecategoriesform}}
    <div data-region="changepricecategoriescontainer" class="tab-pane fade show active" id="choosepricecategoriesform" role="tabpanel" aria-labelledby="choosepricecategories-tab">
      {{{ renderedchangepricecategoriesform }}}
    </div>
  {{/renderedchangepricecategoriesform}}
</div>
